# Table of content
## 1. Following Lesson 4.5 Data Consistency Checks 
## 2. Solving given tasks

# 1. Following Lesson 4.5 Data Consistency Checks

In [2]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r"C:\Users\Anwender\Documents\07-2023 Instacart Basket Analysis\02 Data"
# import data sets products.csv and orders.csv
df_prods = pd.read_csv(os.path.join(path, "Original Data", "products.csv"), index_col = False)
df_ords = pd.read_csv(os.path.join(path, "Prepared Data", "orders_Wrangled.csv"), index_col = False)

In [3]:
#finding missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [4]:
#creating a separate df with missing values
df_nan = df_prods[df_prods["product_name"].isnull() == True]
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [5]:
#creating clean prods.csv file by filtering out missing values
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [6]:
df_prods_clean.shape

(49677, 5)

In [7]:
#creating new df for duplicate records
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [8]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [9]:
#creating new df for prods without duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [10]:
#exporting cleaned prods csv file
df_prods_clean_no_dups.to_csv(os.path.join(path,"Prepared Data", "products_checked.csv"))

# 02 Solving given tasks 4.5

In [11]:
#looking at the shape of the df
df_ords.describe()

,Unnamed: 0,order_id,user_id,amount_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

### Answer to Step 2: Concern: column order_day_of_week: mininmum is 0 and maximum is 6? Are they representing 0 for Monday and 6 for Sunday? Not really intuitive, as days of the week usually get counted from 1 to 7.

In [12]:
#Checking for mixed-type data
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

### Answer to Step 3: No mixed-type data found within df_ords.

In [13]:
#Checking for missing data
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
amount_of_orders               0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [14]:
df_ords.shape

(3421083, 7)

### Answer to Step 5: The missing data makes up about 6% of the entire df.

In [15]:
#Creating a view of missing values in df_ords:
df_nan_2 = df_ords[df_ords["days_since_prior_order"].isnull()==True]

In [16]:
df_nan_2.head()

,Unnamed: 0,order_id,user_id,amount_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
11,11,2168274,2,1,2,11,NaN
26,26,1374495,3,1,1,14,NaN
39,39,3343014,4,1,6,11,NaN
45,45,2717275,5,1,3,12,NaN

### Upon inspection, I suspect that the missing days since prior order are due to that particular order being the first order ever made for each user.  

### Answer to Step 6: I would either leave the data as it is, since I can't particularly impute the missing values with other values, or I could introduce an indicator for the missing values in the column, e.g. First order? - True/False and try to filter out the respective columns if they aren't needed for the analysis.

In [17]:
#Checking for duplicates in df_ords:
df_ords_dups = df_ords[df_ords.duplicated()]

In [18]:
df_ords_dups.shape

(0, 7)

### Answer to Step 7: No duplicate rows found.

### Answer to Step 9: Since no changes were made for df_ords, there is no need to export a new version.

In [20]:
df_ords_new = df_ords.drop(columns = ["Unnamed: 0"])

In [21]:
df_ords_new

,order_id,user_id,amount_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [23]:
df_ords_new.to_csv(os.path.join(path,"Prepared Data", "orders_checked.csv"))

## Checking order_products__prior for consistency

In [3]:
path = r"C:\Users\Anwender\Documents\07-2023 Instacart Basket Analysis\02 Data"

df_opp = pd.read_csv(os.path.join(path, "Original Data", "order_products__prior.csv"), index_col = False)

In [4]:
df_opp.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

### No missing data found.

In [5]:
#creating new df for duplicate records
df_opp_d = df_opp[df_opp.duplicated()]

In [7]:
df_opp_d.shape

(0, 4)

### No duplicates found.

In [8]:
df_opp.shape

(32434489, 4)

In [11]:
df_prodc = pd.read_csv(os.path.join(path,"Prepared Data", "products_checked.csv"), index_col = False)

In [13]:
df_prodc.shape

(49672, 6)