# Preparing the additional dataset customers.csv for upcoming merge

## Setting up

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# creating path for later import/export

path = r"C:\Users\Anwender\Documents\07-2023 Instacart Basket Analysis"

In [3]:
# importing df

df = pd.read_csv(os.path.join(path, "02 Data", "Original Data", "customers.csv"), index_col = False)

In [4]:
# exploring df

df.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
df.tail()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
206204,168073,Lisa,Case,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Jeremy,Robbins,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Doris,Richmond,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Rose,Rollins,Female,California,27,4/1/2020,1,married,99799
206208,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095

In [6]:
df.shape

(206209, 10)

In [7]:
df.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

#### user_id dtype needs to be changed to object.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

## Data Wrangling

In [6]:
# changing user_id to object

df_2["user_id"] = df_2["user_id"].astype("int32")

In [27]:
# checking output

df_2["user_id"].dtype

dtype('O')

In [28]:
# test merging df with df_2

pd.merge(df, df_2, on = ["user_id"], indicator = True)

MemoryError: Unable to allocate 247. MiB for an array with shape (1, 32404859) and data type float64

In [7]:
df_2.dtypes

order_id                        int64
user_id                         int32
amount_of_orders                int64
orders_day_of_week              int64
order_hour_of_day               int64
days_since_prior_order        float64
product_id                      int64
add_to_cart_order               int64
reordered                       int64
product_name                   object
aisle_id                        int64
department_id                   int64
prices                        float64
price_range_loc                object
busiest_days                   object
busiest_period_of_day          object
max_order                       int64
loyalty_flag                   object
average_spending              float64
spending_flag                  object
median_days_previous_order    float64
order_frequency                object
dtype: object

In [8]:
df_2["order_id"] = df_2["order_id"].astype("int32")

In [9]:
df_2["amount_of_orders"] = df_2["amount_of_orders"].astype("int16")

In [10]:
df_2["orders_day_of_week"] = df_2["orders_day_of_week"].astype("int16")

In [11]:
df_2["order_hour_of_day"] = df_2["order_hour_of_day"].astype("int16")

In [12]:
df_2["days_since_prior_order"] = df_2["days_since_prior_order"].astype("float16")

In [13]:
df_2["product_id"] = df_2["product_id"].astype("int32")

In [14]:
df_2["add_to_cart_order"] = df_2["add_to_cart_order"].astype("int16")

In [15]:
df_2["reordered"] = df_2["reordered"].astype("int32")

In [16]:
df_2["aisle_id"] = df_2["aisle_id"].astype("int32")

In [17]:
df_2["department_id"] = df_2["department_id"].astype("int32")

In [19]:
df_2["prices"] = df_2["prices"].astype("float32")

In [20]:
df_2["max_order"] = df_2["max_order"].astype("int32")

In [21]:
df_2["average_spending"] = df_2["average_spending"].astype("int32")

In [22]:
df_2["median_days_previous_order"] = df_2["median_days_previous_order"].astype("float32")

In [23]:
df_2.dtypes

order_id                        int32
user_id                         int32
amount_of_orders                int16
orders_day_of_week              int16
order_hour_of_day               int16
days_since_prior_order        float16
product_id                      int32
add_to_cart_order               int16
reordered                       int32
product_name                   object
aisle_id                        int32
department_id                   int32
prices                        float32
price_range_loc                object
busiest_days                   object
busiest_period_of_day          object
max_order                       int32
loyalty_flag                   object
average_spending                int32
spending_flag                  object
median_days_previous_order    float32
order_frequency                object
dtype: object

In [24]:
# exporting df to pickle format for future merge (refer to notebook 4.9 Data viz pt. 1 customer.csv)

df_2.to_pickle(os.path.join(path, "02 Data", "Prepared Data", "df_derived_3.pkl"))